body{
  background-color: #f8f8f8 !important;
}
.nav-search{
  margin-top: 3px;
}
.appContainer{
  margin-top: 50px;
}
#rig {
    width:100%;
    margin:0 auto;
    padding:0;
    font-size:0;
    list-style:none;
}
#rig li {
    display: inline-block;
    *display:inline;/*for IE6 - IE7*/
    width:25%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:3px;
}
.rig-cell {
    display:block;
    position: relative;
    overflow:hidden;
}
.rig-img {
    display:block;
    width: 100%;
    height: 250px;
    border:none;
    transform:scale(1);
    transition:all 1s;
    object-fit: cover;
    background-color: $app-grey;
}
.rig-img-small {
    display:block;
    width: 100%;
    height: 200px;
    border:none;
    transform:scale(1);
    transition:all 1s;
    object-fit: cover;
}
#rig li:hover .rig-img {
    transform:scale(1.05);
    cursor: pointer;
}
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: #3DC0F1;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
}
#rig li:hover .rig-overlay {
    opacity:0.8;
    cursor: pointer;
}
#rig li:hover .rig-action-overlay {
    opacity:0.8;
}
.rig-text {
    display:block;
    padding:0 20px;
    box-sizing:border-box;
    position:absolute;
    line-height: 100%;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:16px;
    font-weight:bold;
    font-weight:normal!important;
    letter-spacing: 1px;
    top:72%;
    color:white;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    transition:all .3s;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.centered{
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 9000px) {
    #rig li {
        width:25%;
    }
}

@media (min-width: 700px) and (max-width:960px) {
    #rig li {
        width:33.33%;
    }
}

@media (max-width: 550px) {
    #rig li {
        width:50%;
    }
    .rig-img{
        height:150px;
    }
}
