@font-face {
	font-family: 'avenirmedium';
	src: url('../fonts/AvenirLTStd-Medium.eot');
	src: url('../fonts/AvenirLTStd-Medium.woff') format('woff'),
		 url('../fonts/AvenirLTStd-Medium.ttf') format('truetype'),
		 url('../fonts/AvenirLTStd-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
